*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  box-sizing: border-box;
  width: 1200px;
  align-items:center;
  /*padding-top: 140px;*/
  /*border: 1px solid red;*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  /*----------общий контейнер */
  display: flex;
  flex-direction: row;
  /*height: 534px;*/
  width: 1140px;
  margin-top: 133px;
  margin-left: 30px;
  gap: 30px;
  /*border: 1px solid #FFB02E;*/
}

/*------------------------------------------------------------левый контейнер */
.result {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /*height: 534px;исправлено*/
  width: 711px;
  margin-top: 72px;
  /*border: 1px solid #FFB02E;*/
}

.result__video-container {
  /*контейнер для выбранного видео*/
  position: relative;
  display: flex;
  height: 386px;
  width: 100%;
  margin-bottom: 16px;
  /*border: 1px solid white;*/
}

.result__video {
  /*----------выбранное видео*/
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  /*border: 1px solid white;*/
}

.search-form {
  /*----------контейнер для ввода данных*/
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 5px;
  /*height: 54px; исправлено*/
  width: 711px;
  /*border: 1px solid white;*/
}

.search-form__fieldset {
  /*контейнер для выбора города и времени суток*/
  display: flex;
  /* height: 54px; исправлено*/
  width: 258px;
  flex-direction: column;
  justify-content: start;
  border: none;
  margin-left: 3px;
  /*border: 1px solid white;*/
}

.search-form__fieldset-title {
  /*стилизация надписи город и время суток */
  display: flex;
  height: 22px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /*border: 1px solid white;*/
}

.search-form__label {
  /*контейнер поля ввода города - невидимо */
  display: flex;
  flex-direction: row;
  /*height: 20px;исправлено*/
  width: 225px;
  margin-top: 4px;
  justify-content: start;
  /*font-family: Fira Sans Condensed;*/
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  /* обертка чекбокса*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 6px;
  /*height: 28px;исправлено*/
  width: 210px;
  height: 24px;
  gap: 16px;
  /*border: 1px solid white;*/
}

.search-form__pseudo-checkbox {
  /* новый чекбокс */
  display: flex;
  /*position: relative;*/
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__label-text {
  /*стилизация надписей чекбокса*/
  margin-left: 3px;
}

.search-form__textfield {
  /* стилизация поля ввода города */
  display: flex;
  align-items: start;
  background-color: transparent;
  height: 22px;
  width: 226px;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  appearance: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  /* border: 1px solid white;*/
}

.button {
  /*----------общая стилизация кнопок*/
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #fff;
  height: 34px;
}

.search-form__submit-button {
  /*стилизация кнопки поиска*/
  display: flex;
  min-height: 34px; /* исправлено*/
  width: 194px;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

/*----------------------------------------правый контейнер------------------- */
.content__details {
  display: flex;
  /*height: 534px; исправлено*/
  width: 399px;
  flex-direction: column;
  /*border: 1px solid red;*/
}

.title {
  /*----------стилизация заголовка страницы*/
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 23px;
  /*border: 1px solid red;*/
}

.content__accent {
  /*стилизация первого слога заголовка*/
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__list {
  /*----------контейнер каталога с видео*/
  position: relative;
  display: flex;
  height: 298px;
  width: 399px;
  flex-direction: column;
  overflow-x: hidden;
  /*border: 1px solid red;*/
}

.content__list-item:not(:last-child) {
  /*-отсупы между видеокарточками за исключением последней---*/
  margin-bottom: 30px;
}

.content__list-item {
  /*----------контейнер для карточек*/
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 107px; /* нельзя убрать свойство - высота 107px больше нигде не задана , если убрать высота блока становится 103 px по размеру видеокарточки*/
  width: 394px;
  /*border: 1px solid red;*/
}

.content__card-link {
  /*----------Стилизация ссылок*/
  display: block;
  text-decoration: none;
  /*height: 107px;исправлено*/
  color: #fff;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  /*border: 1px solid red;*/
}

.content__video-card {
  /*Стилизация ссылок карточек с видео*/
  display: flex;
  /*height: 107px;*/
  flex-direction: row;
  align-items: center;
  /*border: 1px solid red;*/
}

.content__video-card-description-container {
  /*Контейнер для ссылок и наименования  города в карточке*/
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 103px;
  width: 200px;
  /*border: 1px solid red;*/
}

.content__video-card-title {
  /*Стилизация Наименования города в карточке*/
  display: flex;
  /*height: 30px;исправлено*/
  max-width: 200px;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  margin-left: 2px;
  /*border: 1px solid red;*/
}

.content__video-card-description {
  /*Стилизация описания города в карточке*/
  display: flex;
  flex-direction: row;
  /*max-height: 65px;исправлено*/
  max-width: 200px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  margin-left: 2px;
  margin-top: 2px;
  /*border: 1px solid red;*/
}

.content__video-card-thumbnail {
  /* Форматирование видео в карточке*/
  display: flex;
  height: 103px;
  width: 194px;
  align-items: center;
  object-fit: cover;
  object-position: center;
  /*border: 1px solid red;*/
}

.more-button {
  /* Кнопка показать еще */
  display: flex;
  width: 394px;
  /*height: 34px; свойство перенесено .button*/
  justify-content: center;
  align-items: center;
  gap: 10px;
  /*flex-shrink: 0; исправлено*/
}

.content__card-link_current {
  /* внесение измененений в проект */
  background-color: #545050;
}
/* -------------------------------------элементы в положении active */

.content__list-item:active {
  /* карточка с видео */
  background-color: #545050;
}

.button:active {
  /* кнопка найти */
  background-color: #545050;
}

.search-form__textfield:active {
  /* Поле ввода города */
  border: none;
}

input[type="checkbox"]:checked ~ .search-form__pseudo-checkbox::before {
  /*поля ввода в чекбоксах*/
  content: "";
  background-color: #fff;
  min-inline-size: 15px;
  min-block-size: 15px;
}

/* -------------------------------------элементы в положении hover */
.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__video-card-description:hover {
  border-bottom: 1px solid #fff;
}
/* ------------------------------------элементы в положении focus */

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/*.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}*/

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

/*-----------------------------------focus-контейнер для карточек*/
.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
